nav-contactus-link {
  position: relative;
  text-align: center;
}

header {
  background: #fdf8e5
    url(https://www.mardigrasneworleans.com/templates/client/imagesNew/star1.png.pagespeed.ce.Qvt-7yS2v1.png)
    center -10px no-repeat;
}
