header {
  background-image: url(https://www.mardigrasneworleans.com/templates/client/imagesNew/star1.png.pagespeed.ce.Qvt-7yS2v1.png);
  width: 100vw;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: none !important;
}

// #header {
//   background-color: none !important;
// }
