main {
  // Other
  height: 100vh;
  width: 100vw;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  object-fit: fit;
}

#hero-section {
  // Background
  background-image: url(/public/assets/background.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // Other
  height: 100vh;
  width: 100vw;
}

// div.carouselExampleSlidesOnly {
//   width: auto;
//   height: auto;
// }

// #home-page {
//   width: 100vw;
//   height: 100vh;
//   object-fit: fit;
// }
.stripes {
  position: relative;
  margin-top: -9.9em;
  padding: 6em 15% 12em 0;
  width: 100vh;
  z-index: 3;
  width: 100vw;
  height: 100px;
  color: #fff;
  overflow: hidden;
  pointer-events: none;
  transition: 0.3s;
}

.stripes .middle {
  display: block;
  margin-left: -2%;
  width: 110%;
}

.stripes .green {
  margin-top: 2.1em;
  background: #42990e
    url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xgreen_bar.jpg.pagespeed.ic.pStel7pm_I.jpg);
  transform: rotate(6.4deg);
  font-family: "Lobster", cursive;
  font-size: 2.2em;
  border-top: 2px solid #8dcc8d;
  transform-origin: bottom right;
  border-radius: 0 0 290px 0;
  animation: stripeGreen 0.9s ease-out 1;
  -webkit-animation: stripeGreen 0.9s ease-out 1;
}

.stripes .gold {
  position: relative;
  margin-top: -7em;
  background: #e1bd29
    url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xgold_bar.jpg.pagespeed.ic.YNJbxAxOqA.jpg);
  transform: rotate(2.8deg);
  padding: 14px 0;
  border-top: 2px solid #f9e382;
  box-shadow: 0 3px 42px -4px rgb(0 0 0 / 87%);
  transform-origin: bottom right;
  animation: stripeGold 0.9s ease-out 1;
  -webkit-animation: stripeGold 0.9s ease-out 1;
}

.stripes .purple {
  margin-top: -2.7em;
  background: #8849c2
    url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xpurple2-bar.jpg.pagespeed.ic.uTw2MJSe2B.jpg);
  transform: rotate(1.3deg);
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
  padding: 0.6em 2% 3em;
  box-shadow: 0 -6px 27px -4px rgb(0 0 0 / 70%);
  border-top: 2px solid #8c5bbd;
  transform-origin: bottom right;
  animation: stripePurple 0.6s ease-out 1;
  -webkit-animation: stripePurple 0.6s ease-out 1;
}
